<section class="square video {{slugs.name}}">
  <div class="card">
    <div class="face front">
      <img alt="{{slugs.name}}" src="{{poster}}" />
      <div class="overlay">
        <h2>{{name}}</h2>
        <p>{{location}}</p>
      </div>
    </div>
    <div class="face back">
      <video>
        <source src="{{path}}" type="{{codec}}" />
      </video>
    </div>
  </div>
</section>
